*{
    font-family: arial,sans-serif;
    font-size:  20px;
}

body{
    background-color: rgb(104, 103, 105);


}

main{
    background-color:white;
    width:500px;
    margin:auto;
    padding:10px;
}